.DataEntry {
  display: flex;
  align-items: center;
  color: red;
}

.DataEntry__input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: inherit;
  caret-shape: block;
}

.DataEntry__input:focus {
  border: 0;
  outline: none;
}
