.DataEntry {
  --z-index-base: 0;

  max-height: var(--input-height);
  display: flex;
  align-items: center;
}

.DataEntry__interact {
  height: 100%;
  position: relative;
  flex-grow: 1;
}

.DataEntry__caret {
  --index: 0;

  height: 100%;
  position: absolute;
  top: 0;
  z-index: var(--z-index-base);
  background-color: green;
  color: transparent;
  transform: translateX(calc(var(--index) * 100%));
  animation-name: blink;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

@keyframes blink {
  from {
    opacity: 0;
  }
}

.DataEntry__input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  display: block;
  z-index: calc(var(--z-index-base) + 1);
  position: relative;
  color: inherit;
  background-color: inherit;
  caret-color: transparent;
  font-family: monospace;
  font-size: inherit;
}

.DataEntry__input:focus {
  border: 0;
  outline: none;
}
