.App {
  --bg-color: initial;
  --color: initial;
  --line-height: 19px;
  --offset-inner: 5px;
  --input-height: var(--line-height);

  height: 100vh;
  padding: var(--offset-inner);
  overflow: auto;
  scrollbar-gutter: stable;
  font-family: monospace;
  font-size: 16px;
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  color: var(--color);
  background-color: var(--bg-color);
}

.App__results {
  flex-grow: 1;
}

.App__tooltip {
  --offset: 50px;

  position: fixed;
  top: var(--offset);
  right: var(--offset);
}

@media (prefers-color-scheme: dark) {
  .App {
    --bg-color: black;
    --color: green;
  }

  .App.App--light {
    --bg-color: white;
    --color: black;
  }
}

@media (prefers-color-scheme: light) {
  .App {
    --bg-color: white;
    --color: black;
  }

  .App.App--dark {
    --bg-color: black;
    --color: green;
  }
}
